@import url('base.css');

/* カウントダウン画面を縦中央に配置 */
.countdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.countdown-screen {
    text-align: center;
    color: #4cb05a;
    font-weight: bold;
}

.countdown-screen h1 {
    font-size: 2rem;
    margin: 0;
}
